@font-face {
    font-family: norse;
    src: url(/fonts/NORSE-KAWL.OTF);
}

@font-face {
    font-family: norseBold;
    src: url(/fonts/NORSEBOLD-2KGE.OTF);
}

.title-card {
    font-size: 36px;
    font-family: norseBold;
    color: #FFFFFF
}

.nav-container {
    background-image: url(/images/nav_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
    background-position: center;
}

.navbutt {
    font-size: 20px;
    font-family: norse;
    color: #FFFFFF;
}

.welcometext {
    font-size: 36px;
    font-family: norseBold;
    text-align: center;
    color: #FFFFFF;
}