@font-face {
    font-family: norse;
    src: url(/fonts/NORSE-KAWL.OTF);
}

@font-face {
    font-family: norseBold;
    src: url(/fonts/NORSEBOLD-2KGE.OTF);
}

.title-card,
.sectionText {
    font-size: 36px;
    font-family: norseBold;
    color: #FFFFFF
}

.nav-container {
    background-image: url(/images/nav_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 310px;
    background-position: center;
}

.navbutt {
    font-size: 20px;
    font-family: norse;
    color: #FFFFFF;
}

.jumpbutt {
    font-size: 30px;
    font-family: norse;
}

.dropbutt {
    font-size: 20px;
    font-family: norse;
}

.showcaseHalf {
    width: 40%;
    min-width: 300px;
    max-width: 400px;
}

.abtHalf {
    min-width: 400px;
    max-width: 600px;
}

.showcaseName {
    font-family: norseBold;
}

.showcaseYear {
    font-family: norse;
}

.imgGallery,
.imgGalleryB {
    width: 210px;
}

.imgGallery:hover,
.imgGalleryB:hover {
    transform: scale(2);
    position: relative;
    z-index: 1;
}

.flip {
    outline-style:outset;
    background-color: goldenrod;
    outline-color: goldenrod;
    outline-width: 5px;
}